<html>
  <head>
    <title>World Cup Fixtures</title>
    <style>
      /* define CSS styles for formatting the table */
      table {
        width: 100%;
        border-collapse: collapse;
      }
      thead {
        font-weight: bold;
      }
      td, th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>World Cup Fixtures</h1>
    <form action="{{ url_for('bet') }}" method="POST">
      <table>
        <thead>
          <th>Team 1</th>
          <th>Team 2</th>
          <th>Score</th>
          <th>Bet Now</th>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
              <td>{{ match[0] }}</td>
              <td>{{ match[1] }}</td>
              <td>{{ match[2][0] }} - {{match[2][1]}}</td>
              <td>
                <button type="button" onclick="window.location='/choose_bet?home-team={{ match[0] }}&away-team={{ match[1] }}';">Click to bet!</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </form>
  </body>
</html>

